*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: 1.2rem;
}
:root{
    --font-primary: 'Balsamiq Sans', cursive, sans;
    --font-secundary: 'Roboto', sans;
}
body{
    font-family: var(--font-primary);
    overflow-x: hidden;
}
ul, li, a{
    list-style: none;
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
    opacity: 0.9;
}

/*back-to-top*/
#back-to-top{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    padding: 0.2rem 0rem 0rem 0rem;
    background: transparent;
    font-size: 2.5rem;
    color: #453BBA;
    z-index: 3000;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
}
.nav{
    background: #fff;
    height: 500px;
    width: 400px;
    position: fixed;
    right: 30px;
    top: 2.5rem;
    display: grid;
    transition: 0.8s ease;
    animation: moveAnimation 0.3s ease;
    z-index: 4000000;
}
@media (max-width: 650px){
    .nav{
        height: 400px;
        width: 300px;    
    }
}
.ativar{
    display: none;
}
.menu{
    display: grid;
    align-self: end;
    justify-self: center;
    gap: 30px;
    animation: moveAnimation 0.6s ease;
}
.menu a{
    color:#453BBA;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: lowercase;
}
@media (max-width: 650px){
    .menu a{
        font-size: 1rem;
    }
}
.menu span{
    color: #a4a4a4;
    text-transform: uppercase;
}
.hamburguer{
    width: 60px;
    height: 20px;
    position: fixed;
    right: 40px;
    top: 4.5rem;
    z-index: 5000000;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
} 
@media (max-width: 650px){
    .hamburguer{
      width: 40px;
      height: 10px;
    }
}

.line1{
    width: 100%;
    height: 3px;
    background: #453BBA;
    transition: 0.4s;
    margin-bottom: 0.3rem;

}
.line2{
    width: 60%;
    height: 3px;
    background: #453BBA;
    transition: 0.4s;
}
.changeColor{
    background: #fff;
}
@media (min-width: 980px){
    .line1{
        width: 100%;
        height: 3px;
        background: #453BBA;
        transition: 0.4s;
    
    }
    .line2{
        width: 60%;
        height: 3px;
        background: #453BBA;
        transition: 0.4s;
    }
}
@keyframes moveAnimation{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0px);
    }
}
@media (max-width: 850px){
    .nav{
        animation: none;
    }   
}

.icones{
    height: 90px;
    align-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.icones span{
    border: 1px solid #ccf381;
    color: #453BBA;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.icones span:hover{
    background: #ccf381;
}

.btn{
    color: #4831d4;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    border: 1px solid #4831d4;
    position: relative;
    z-index: 1;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }
 .btn:hover{
   color: #fff;
 }
 .btn::before{
   content: '';
   width: 0%;
   height: 100%;
   left: 0%;
   position: absolute;
   background: #4831d4;
   transition: 0.3s all ease;
   z-index: -1;
 }
 .btn:hover::before{
   width: 100%;
 }
 .btn::after{
   content: '→';
   margin-left: 10px;
 }
 
.js .anime {
	opacity: 0;
	transform: translateX(-300px);
}

.js .anime-init{
	opacity: 1;
	transform: translateX(0px);
	transition: 0.8s all ease;
}
.js .animeMation {
	opacity: 0;
	transform: translateX(300px);
}

.js .anime-2{
	opacity: 1;
	transform: translateX(0px);
	transition: 0.8s all ease;
}




