.formacao-container{
    max-width: 760px;
    margin: 0 auto;
    display: grid;
    padding: 60px;
    overflow-x: hidden;
    opacity: 0.9;
}
.formacao-container div:nth-child(1){
    justify-self: start;
    text-align: center;
}
.formacao-container div:nth-child(1) p{
    color: #4831d4;
    margin-top: 10px;
    font-size: 1.5rem;
}
@media (max-width: 650px){
    .formacao-container div:nth-child(1) p{
        font-size: 1rem;
    }
}
.formacao-container div h1{
    font-size: 2.5rem;
    color: #4831d4;
    margin-bottom: 10px;
}
@media (max-width: 650px){
    .formacao-container div h1{
    font-size: 1.5rem;
    }
}
.formacao-container div ul li{
    padding: 10px;
}
.formacao-container div a{
    color: #4831d4;
    margin-bottom: 15px;
    font-size: 1rem;
    text-decoration: underline;
}
@media (max-width: 650px){
    .formacao-container div a {
        font-size: 1rem;
    }
}
.formacao-container div:nth-child(2){
    justify-self: end;  
    text-align: center;
    height: 200px;
}
.formacao-container div:nth-child(2) p {
   text-decoration: underline;
   color: #4831d4;
}

.btn-certificado{
    border: none;
    padding: 10px;
    background: #4831d4;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-certificado:hover{
    background: #31238b;
}
.menu-certificado{
    display: none;
}
.ativo{
    display: block;
}