.conhecimentos-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    padding: 30px;
    overflow-x: hidden;
}
.conhecimentos-titulo{
    justify-self: center;
    margin: 30px 0;
    font-size: 2rem;
    font-style: italic;
    color: #4831d4;
    border-bottom: 3px solid #ccf381;
    text-transform: lowercase;
}
@media (max-width: 650px){
   .conhecimentos-titulo h1{
    font-size: 2rem;
   }
}
@media (max-width: 650px){
    .fa-media{
        font-size: 1.8rem !important;
    }
}
.conhecimentos-img, .conhecimentos-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    gap: 15px;
    padding: 30px;
}

@media (max-width: 850px){
    .conhecimentos-img{
    display: none;
    }
}
.conhecimentos-icons{
    display: none;
}
@media (max-width: 850px){
    .conhecimentos-icons{
        display: grid;
    }
}
@media (max-width: 650px){
    .conhecimentos-icons i{
        font-size: 2rem !important;
    }
}
