.conhecimentos-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    padding: 30px;
}
.conhecimentos-titulo{
    justify-self: center;
    margin: 30px 0;
    font-size: 2rem;
    font-style: italic;
    color: #4831d4;
    border-bottom: 3px solid #ccf381;
    text-transform: lowercase;
}
@media (max-width: 650px){
   .conhecimentos-titulo h1{
    font-size: 2rem;
   }
}
@media (max-width: 650px){
    .fa-media{
        font-size: 1.8rem !important;
    }
}
.conhecimentos-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    height: 400px;
}
@media (max-width: 740px){
    .conhecimentos-img{
        grid-template-columns: 1fr 1fr;
        height: 420px;
    }
}
.conhecimentos-img div:nth-child(1){
    grid-column: 1;
}
.conhecimentos-img div:nth-child(2){
    align-self: center;
}
.conhecimentos-img div:nth-child(3){
    grid-column: 3;
    min-width: 150px;
}
@media (max-width: 740px){
    .conhecimentos-img div:nth-child(1){
        grid-column: 1;
        grid-row: 1;
        min-width: 200px;
    }
    .conhecimentos-img div:nth-child(2){
        grid-column: span 2;
        justify-self: center;
        max-width: 250px;
    }
    .conhecimentos-img div:nth-child(3){
        grid-column: 2;
        grid-row: 1;
        min-width: 200px;
    }
}
.conhecimentos-icons ul{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    color: #453BBA;
}
