.projetos-bg{
    background: #f8f8f8;
    display: grid;
    padding: 30px;
 }
 .projetos-titulo{
    justify-self: center;
    margin: 30px 0;
    font-size: 2rem;
    font-style: italic;
    color: #4831d4;
    border-bottom: 3px solid #ccf381;
    text-transform: lowercase;
}
@media (max-width: 650px){
    .projetos-titulo h1{
        font-size: 2rem;
    }
}
.projetos-container{
    display: grid;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    text-align: center;
}
@media (max-width: 980px){
}
.projetos-item{
    display: grid;
}
.projetos-item img{
    width: 100%;
}
.projetos-info{
    justify-self: center;
    margin-top: 30px;
}
.projetos-info h2{
    font-size: 2rem;
    color: #4831d4;     
}
@media (max-width: 650px){
    .projetos-info h2{
        font-size: 1.5rem;
    }
}

