.orcamento{
    background: #f8f8f8;
    padding: 80px;
    overflow-x: hidden;
    opacity: 0.9;
}
.orcamento-wrapper{
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;
    border: 3px solid #4831d4;
    border-radius: 10px;
    position: relative;
    display: grid;
}

@media (max-width: 430px){
    .orcamento-wrapper{
        min-width: 300px;
        justify-self: center;
    }
}
.orcamento-wrapper h1{
    text-align: center;
    padding: 30px;
    position: absolute;
    top: -65px;
    background: #4831d4;
    left: 150px;
    color: #fff;
    border-radius: 10px;
}
@media (max-width: 635px){
    .orcamento-wrapper h1{
        left: 80px;
    }
}
@media (max-width: 510px){
    .orcamento-wrapper h1{
        top: -45px;
        left: 20px;
        padding: 15px;
        font-size: 1.2rem;
    }
}
#form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 80px);
    align-items: center;
    justify-items: center;
    color: #4831d4;
    font-size: 1.2rem;
}
@media (max-width: 870px){
    #form{
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 70px 60px;
    font-size: 0.8rem;
    gap: 10px;
    }
}
input[type="number"],
input[type="checkbox"],
input[type="radio"]{
    height: 30px;
    width: 60px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}
@media (max-width: 870px){
    input[type="number"],
    input[type="checkbox"],
    input[type="radio"]{
    height: 15px;
    width: 50px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}
}

#form div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (max-width: 510px){
    #form div:nth-child(1){
        gap: 10px;
    }
}
#form div:nth-child(2){
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#form div:nth-child(3){
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (max-width: 510px){
    #form div:nth-child(3){
        flex-direction: column;
        gap: 25px;
    }
}
#form div:nth-child(4){
    font-size: 2rem;
}
@media (max-width: 510px){
    #form div:nth-child(4){
        font-size: 1.2rem;
    }
}

#prazo{
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    background: #ccf381;
    border-radius: 10px;
}
@media (max-width: 600px){
    #prazo{
        width: 200px;
    }
}
@media (max-width: 510px){
    #prazo{
        width: 150px;
    }
}
#prazo::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4831d4;
    cursor: pointer;
}
@media (max-width: 510px){
    #prazo::-webkit-slider-thumb {
        width: 18px;
        height: 18px;
    }
}

#btn{
    margin: 0;
}

@media (max-width: 510px){
    #btn{
        max-width: 120px;
    }
}
  
