.header-bg{
    background: linear-gradient(90deg, #4831d4  70%, #fff 30%);
    position: relative;
}
@media (max-width: 980px){
    .header-bg{
        background: linear-gradient(180deg, #4831d4  75%, #fff 30%);
    }
}
@media (max-width: 650px){
    .header-bg{
        background: linear-gradient(180deg, #4831d4  80%, #fff 20%);
    }
}
.header-bg::after{
    content: "";
    background: #ccf381;
    width: 50px;
    height: 6px;
    display: block;
    bottom: 30px;
    right: 28%;
    position: absolute;
}
.header-bg::before{
    content: "";
    background: #ccf381;
    width: 50px;
    height: 6px;
    display: block;
    top: 30px;
    right: 28%;
    position: absolute;
}
@media (max-width: 980px){
    .header-bg::after, .header-bg::before{
        display: none;
    }
}
.header-container{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 980px){
    .header-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
.logo{
    grid-column: 1;
    align-self: center;
}
@media (max-width: 980px){
    .logo{
        justify-self: start;
    }
}
.logo a{
    font-size: 3.5rem;
    color: #fff;
    transition: 0.4s ease;
}
@media (max-width: 650px){
    .logo a {
    font-size: 2rem;
    }
}
.logo a:hover{
    color: #ccf381;
}
.titulo{
    grid-column: 1;
    align-self: center;
    font-style: italic;
}
.titulo h1{
    font-size: 4rem;
    color: #ccf381;
    min-width: 350px;
    animation: moveLetter 0.6s ease;
}
@media (max-width: 650px){
    .titulo h1{
        font-size: 2rem;
    }
}
.titulo p{
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: end;
    animation: moveLetter 1.1s ease;
}
@media (max-width: 650px){
    .titulo p{
        font-size: 1rem;
    }
}
.titulo p::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #ccf381;
    display: block;
    border-radius: 50%;
    margin: 0px 0px 5px 3px;
}
.sub-titulo{
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    font-style: italic;
    margin: 30px 0;
    gap: 10px;
}
.sub-titulo > div{
    flex: 1 0 200px;
}
.sub-titulo > div h2{
    font-size: 2rem;
    color: #ccf381;
    /* min-width: 230px; */
}
@media (max-width: 650px){
     .sub-titulo > div h2{
        font-size: 1.5rem;
     }
}
.sub-titulo p{
    font-size: 1.5rem;
    line-height: 1.3;
    color: #fff;
    max-width: 200px;
}
@media (max-width: 650px){
    .sub-titulo p{
        font-size: 1rem;
    }
}
.img-principal{
    max-width: 450px;
    background: #fff;
    grid-column: 2;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
    transition: 0.4s ease;
    border-radius: 10px;
    /* box-shadow: -30px 0px 1px 30px #ccf381; */
}

@media (max-width: 980px){
    .img-principal{
    grid-column: 1;
    grid-row: 4;
    box-shadow: none;
    }
}
@media (max-width: 650px){
    .img-principal{
        max-width: 300px;
        grid-row: 3;
    }
}
.img-principal:hover{
    transform: scale(1.2);
}
@media (max-width: 650px){
    .img-principal:hover{
        display: none;
    }
}
@keyframes moveLetter{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0px);
    }
}
